a {
  color: $primary-color;

  &:hover {
    color: $primary-color-dark;
  }
}

input {
  &:focus {
    border-color: $primary-color !important;
    box-shadow: 0 0 0 0.2rem rgba($primary-color-dark, 0.25) !important;
  }
}

.content-page {
  margin: 50px 20px 0;
  background-color: white;
  height: calc(100vh - 90px);

  @include media-breakpoint-up(md) {
    margin: 50px 18% 0;
    padding: 50px;
  }
  @include media-breakpoint-up(lg) {
    margin: 50px 22% 0;
    padding: 90px;
  }

  .rsvp {
    .btn-primary {
      margin-top: 20px;
    }
  }

  .location {
  }

  .rsvp,
  .location {
    .title {
      margin-bottom: 50px;
      text-align: center;
      font-family: 'bromello';
    }
  }

  form {
    .form-group {
      .custom-radio .custom-control-input {
        /* This is the default state */
        &:checked ~ .custom-control-label::before {
          background-color: $primary-color;
          border-color: $primary-color;
        }

        /* active state i.e. displayed while the mouse is being pressed down */
        &:active ~ .custom-control-label::before {
          color: #fff;
          background-color: $primary-color-dark;
        }

        /* the shadow; displayed while the element is in focus */
        &:focus ~ .custom-control-label::before {
          box-shadow: 0 0 0 1px #fff,
            0 0 0 0.2rem rgba($primary-color-dark, 0.25);
        }
      }
    }
  }
}
