@import "_variables";
@import "./mixins/bootstrap";
@import "./commons/variables.scss";

p {
  color: $gray-200;
}
a {
  color: $primary-color;

  &:hover {
    color: $primary-color-dark;
  }
}

input {
  &:focus {
    border-color: $primary-color !important;
    box-shadow: 0 0 0 0.2rem rgba($primary-color-dark, 0.25) !important;
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary-color-dark, 0.5);
  }
}
.cover-photo-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &.big {
    height: 100vh;
  }

  &.small {
    height: 50vh;
  }

  .photo {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .overlay {
    background-color: rgba(black, 0.5);
    height: 100%;
    width: 100%;
    position: absolute;
  }

  .content {
    display: flex;
    flex-direction: column;
    position: absolute;

    .title {
      font-size: 60px;
      color: white;
      font-family: "bromello", "Shink";
      text-align: center;
      z-index: 2;
      line-height: 1.3em;
      letter-spacing: 3px;
    }

    .subtitle {
      font-size: 12px;
      color: white;
      font-family: "Tahoma", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
      text-align: center;
      z-index: 2;
      letter-spacing: 10px;
      text-transform: uppercase;
    }

    @include media-breakpoint-up(lg) {
      .title {
        font-size: 90px;
      }
      .subtitle {
        font-size: 18px;
      }
    }
  }
}

.nav-wrapper {
  margin: 0;
  -webkit-box-shadow: 0px 3px 25px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 25px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 25px -16px rgba(0, 0, 0, 0.75);

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      background-color: white;
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &.active {
        border-bottom: $primary-color 5px solid;
        height: 40px;
      }
      &:hover {
        background-color: $gray-200;
      }

      a {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        line-height: normal;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    margin: -30px 100px 0;

    ul li {
      a {
        line-height: 2.5em;
        font-size: 14px;
      }
    }
  }
}

.content-page {
  margin: 50px 20px 0;
  background-color: white;
  height: calc(100vh - 90px);

  @include media-breakpoint-up(md) {
    margin: 50px 18% 0;
    padding: 50px;
  }
  @include media-breakpoint-up(lg) {
    margin: 50px 22% 0;
    padding: 90px;
  }

  .rsvp {
    .btn-primary {
      margin-top: 20px;
    }
  }

  .location {
  }

  .rsvp,
  .location {
    .title {
      margin-bottom: 50px;
      text-align: center;
      font-family: "bromello";
    }
  }

  form {
    .form-group {
      .custom-radio .custom-control-input {
        /* This is the default state */
        &:checked ~ .custom-control-label::before {
          background-color: $primary-color;
          border-color: $primary-color;
        }

        /* active state i.e. displayed while the mouse is being pressed down */
        &:active ~ .custom-control-label::before {
          color: #fff;
          background-color: $primary-color-dark;
        }

        /* the shadow; displayed while the element is in focus */
        &:focus ~ .custom-control-label::before {
          box-shadow: 0 0 0 1px #fff,
            0 0 0 0.2rem rgba($primary-color-dark, 0.25);
        }
      }
    }
  }
}
