.countdown {
  background-color: $background-pale;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 120px 0;

  .countdown-info {
    .date {
      font-size: 50px;
      font-family: Bromello;
    }
    .location {
      div,
      a {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;
      }
    }
    .address-1 {
      z-index: 4;
      text-decoration: none;
      color: inherit;

      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
  .countdown-breakdown {
    display: flex;
    flex-direction: row;
    margin: 20px 40px;

    .box {
      width: 115px;
      height: 115px;
      background-color: white;
      display: flex;
      justify-content: center;
      flex-direction: column;

      .value {
        font-size: 40px;
      }
      .measurement {
        font-size: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 13px;
      }
    }
  }
}
