.service-option {
  border: 1px black solid;
  height: 170px;

  &:hover {
    .overlay {
      display: flex;
      background-color: rgba(black, 0.4);
      height: 100%;
      width: 100%;
      margin-top: -168px;

      h3 {
        margin: auto;
      }
    }
  }
  .icon-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: burlywood;

    span {
      font-size: 40px;
    }
  }

  .overlay {
    display: none;

    h3 {
      color: white;
    }
  }
}