@font-face {
  font-family: "Shink";
  src: local("Shink"), url(./fonts/Shink.otf) format("opentype");

  font-family: "bromello";
  src: local("bromello"), url(./fonts/bromello.otf) format("opentype");
}
