.btn-primary {
  background-color: $primary-color;
  border-color: $primary-color;

  &:hover {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $primary-color-dark;
    border-color: $primary-color-dark;
  }
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba($primary-color-dark, 0.5);
  }
}
