.nav-wrapper {
  margin: 0;
  -webkit-box-shadow: 0px 3px 25px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 25px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 25px -16px rgba(0, 0, 0, 0.75);

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      background-color: white;
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;

      &.active {
        padding-top: 5px;
        border-bottom: $primary-color 5px solid;
      }

      &:hover {
        background-color: $gray-200;
      }

      a {
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        line-height: normal;
        padding: 0;

        .navLink {
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    ul li {
      height: 75px;
      a {
        text-align: center;
        font-size: 12px;
        height: 100%;
        width: 100%;

        .navLink {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
