.nav-wrapper {
  height: 45px;
  position: relative;
  z-index: 2;
  margin: 0;
  border-bottom: 1px solid rgba(222, 222, 222, 0.15);
  color: white;
  z-index: 3;

  &.sticky {
    position: sticky;
    top: 0;
  }

  &.scrolled {
    background-color: white;
    color: $primary-color;
    transition: background-color 200ms linear;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    li {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;

      &.active {
        padding-top: 5px;
        border-bottom: $primary-color 5px solid;
      }

      a {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: block;
        padding: 0.5rem 1rem;
        text-decoration: none;
        padding: 0;
        color: inherit;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    height: 80px;
    ul li {
      height: 80px;
      a {
        text-align: center;
        font-size: 12px;
      }
    }
  }
}
