@font-face {
  font-family: "Shink";
  src: local("Shink"), url(./fonts/Shink.otf) format("opentype");

  font-family: "Bromello";
  src: local("Bromello"), url(./fonts/bromello.otf) format("opentype");
}
